
#status-container {
    /*display: flex;
    flex-direction: column;
    height: 100vh;*/
}

#status-container h2 {
    display: inline;
}
#status-container p {
    display: inline;
}

th, td {
  border: 1px solid #ccc;
}

thead {
  background-color: #f4f4f4;
}
